/* Style du bouton Favoris */
.btn-favorite {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.btn-favorite:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-favorite.active {
    background-color: #e50914; 
    border-color: #e50914;
}

.heart-icon {
    font-size: 1.2rem;
}

/* Style du bouton de retour */
.btn-back {
    position: absolute;
    top: 20px; 
    left: 50px; 
    z-index: 10;
    margin: 0;
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-back:hover {
    color: #ffffff;
    transform: translateX(-5px); 
    text-decoration: underline;
}

.movie-hero {
    position: relative; 
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 100px;
}

.hero-content-wrapper {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.poster-container img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.info-container {
    flex: 1;
}

.genres span {
    background: #e50914;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 0.9rem;
}

.cast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px 50px;
}

.actor-card img {
    width: 100%;
    border-radius: 8px;
}