.catalog-page {
    padding: 20px 3%;
    min-height: 80vh;
}

.page-title {
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-left: 4px solid #e50914;
    padding-left: 15px;
}
.movie-title {
    padding: 10px 0 5px;
    font-size: 0.9rem;
    font-weight: 200;
}
.full-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 50px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px;
    padding-bottom: 40px;
    font-size: 0.9rem;
}

.pagination-controls button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.3s ease;
}
.pagination-controls button:hover {
    background-color: #b20710;
    transform: scale(1.05);
    box-shadow: #b20710 0px 0px 10px;
}

.pagination-controls button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #f40612;
}

#page-indicator {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}


@media (min-width: 481px) {
    .full-grid {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 15px;
    }
}


@media (min-width: 769px) {
    .catalog-page {
        padding: 40px 5%;
    }

    .page-title {
        margin-bottom: 30px;
        font-size: 2rem;
    }
#page-indicator {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
    .full-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 25px;
    }

    .pagination-controls {
        flex-wrap: nowrap;
        gap: 20px;
    }

    .pagination-controls button {
        padding: 10px 20px;
        font-size: 1rem;
    }
}